<!-- app/views/flats/_form.html.erb -->
<%= form_with(model: flat, local: true) do |f| %>
  <div class="form-inputs">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-inputs">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <!-- Другие поля формы -->
<% end %>
