<div class="container">
  <div class="d-flex justify-content-between">
<<<<<<< Updated upstream
    <!-- Левая колонка -->
    <div style="display: flex; flex-direction: column;">
      <!-- Карточка 1 -->
=======
    <div class="d-flex flex-column">
>>>>>>> Stashed changes
      <div class="card">
        <div id="left-card1">
          <p>
            <strong>Title:</strong>
            <%= @apartment.title %>
          </p>
          <p>
            <strong>Address:</strong>
            <%= @apartment.address %>
          </p>
           <p>
            <strong>Description:</strong>
            <%= @apartment.description %>
          </p>
          <div>
            <% if @apartment.photos.attached? %>
              <% @apartment.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            <% end %>
          </div>

          <p>
            <strong>Price:</strong>
            <%= @apartment.price %>
          </p>
        </div>
      </div>
    </div>
