<div class="booking-form">
  <%= simple_form_for([@apartment, @booking]) do |form| %>

  <div class="booking">
    <div class="booking__price-per-night">
      <span class="booking__price-amount"><%= @apartment.price %> </span>
      <span class="booking__currency">€</span>
      <span class="booking__per-night">ночь</span>
    </div>
    <div class="booking__details">
      <div class="booking__date">
        <%= form.label :start_date %>
          <%= form.date_field :start_date, value: Date.today %>
      </div>
      <div class="booking__date">
        <%= form.label :end_date %>
      <%= form.date_field :end_date, value: Date.today %>
      </div>
      <div class="booking__guests">
        <label class="booking__guests-label" for="guests-select">ДЛЯ КОГО</label>
        <select id="guests-select" class="booking__guests-select">
          <option value="1">1 гость</option>
          <option value="2">2 гостя</option>
          <option value="3">3 гостя</option>
          <option value="4">4 гостя</option>
        </select>
      </div>
    </div>
  </div>
  <%= form.submit "Book this apartment", class: "btn btn-primary" %>
  <% end %>
</div>