<h1>Edit Apartment</h1>

<%= simple_form_for(@apartment) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 5, size: "100" %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit "Update Apartment" %>
  </div>
<% end %>
